<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toni.tipkovnica04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

    <meta-data
        android:name="com.sec.android.airview.enable"
        android:value="true" />

    <service
        android:name=".AirViewIME"
        android:label="@string/my_ime"
        android:permission="android.permission.BIND_INPUT_METHOD">

        <intent-filter>
            <action android:name="com.sec.android.airview.HOVER" />
        </intent-filter>

        <meta-data
            android:name="com.sec.android.airview.enable"
            android:value="true" />
        <meta-data android:name="android.view.im" android:resource="@xml/method"/>

        <intent-filter>
            <action android:name="android.view.InputMethod" />
        </intent-filter>

    </service>
    <activity
        android:name=".ImePreferences"
        android:label="@string/settings_name"
        android:exported="false"> <!-- https://support.google.com/faqs/answer/7188427 -->

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

        </intent-filter>
    </activity>
    </application>
</manifest>
